h2{
    padding-top: 20px;
    font-family: cursive;
    padding-left: 40px;
}
.div{
    margin-right: 10px; text-align: center; width:360px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-size: 20px;
    margin-top: 10px;
}
b{
    font-size: 25px;
}
img{
    margin-bottom: 20px;
}